@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
/*--------------------*/
html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
  @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
  font-family: "Nanum Gothic", sans-serif;
  background-color: #edf1f5;
}

/*--------------------*/
/*--------------------*/
/*--------------------*/
.wrapper {
  background-color: #edf1f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
  /*--------------------*/
  /*--------------------*/
  /*--------------------*/
}
.wrapper .header {
  display: flex;
  justify-content: center;
  /*--------------------*/
  /*--------------------*/
  /*--------------------*/
  min-height: 30vh;
  min-width: 100vw;
  /*--------------------*/
  /*--------------------*/
  /*--------------------*/
}
@media (orientation: portrait) {
  .wrapper .header {
    min-height: 10vh;
  }
}
.wrapper .header .logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper .header .logo svg {
  height: 30vh;
  width: 30vw;
}
@media (orientation: portrait) {
  .wrapper .header .logo svg {
    padding-top: 5vh;
    width: 80vw;
    height: 20vh;
  }
}
.wrapper .screen {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 60vh;
  /*--------------------*/
  /*--------------------*/
  /*--------------------*/
}
@media (orientation: portrait) {
  .wrapper .screen {
    align-content: flex-start;
    min-height: 50vh;
  }
}
.wrapper .screen .social-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}
@media (orientation: portrait) {
  .wrapper .screen .social-btns {
    width: 80%;
  }
}
.wrapper .screen .social-btns .contact {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 12px;
  background-color: white;
  font-size: 46;
  color: #2c2b2b;
}
.wrapper .screen .social-btns .contact i {
  padding: 17px;
}
.wrapper .screen .social-btns .contact:hover {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .contact:not(hover) {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .contact p {
  font-size: 0;
}
.wrapper .screen .social-btns .contact:hover {
  font-size: 61;
  color: white;
  background-color: black;
  width: 310px;
}
.wrapper .screen .social-btns .contact:hover p {
  font-size: 22px;
}
@media (orientation: portrait) {
  .wrapper .screen .social-btns .contact:hover:hover {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: #fff;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 12px;
    background-color: white;
    font-size: 46;
    color: #2c2b2b;
    background-size: 100% 0px;
  }
  .wrapper .screen .social-btns .contact:hover:hover i {
    padding: 17px;
  }
  .wrapper .screen .social-btns .contact:hover:hover:hover {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .wrapper .screen .social-btns .contact:hover:hover:not(hover) {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .wrapper .screen .social-btns .contact:hover:hover p {
    font-size: 0px;
  }
}
.wrapper .screen .social-btns .tictok {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 12px;
  background-color: white;
  font-size: 46;
  color: black;
}
.wrapper .screen .social-btns .tictok i {
  padding: 17px;
}
.wrapper .screen .social-btns .tictok:hover {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .tictok:not(hover) {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .tictok:hover {
  font-size: 61;
  color: white;
  background-color: black;
}
.wrapper .screen .social-btns .unity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 12px;
  background-color: white;
  font-size: 46;
  color: #2c2b2b;
}
.wrapper .screen .social-btns .unity i {
  padding: 17px;
}
.wrapper .screen .social-btns .unity:hover {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .unity:not(hover) {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .unity:hover {
  font-size: 61;
  color: white;
  background-color: black;
}
.wrapper .screen .social-btns .linkedin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 12px;
  background-color: white;
  font-size: 46;
  color: black;
}
.wrapper .screen .social-btns .linkedin i {
  padding: 17px;
}
.wrapper .screen .social-btns .linkedin:hover {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .linkedin:not(hover) {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .linkedin:hover {
  font-size: 61;
  color: white;
  background-color: black;
}
.wrapper .screen .social-btns .googleplay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 12px;
  background-color: white;
  font-size: 46;
  color: black;
}
.wrapper .screen .social-btns .googleplay i {
  padding: 17px;
}
.wrapper .screen .social-btns .googleplay:hover {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .googleplay:not(hover) {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .googleplay:hover {
  font-size: 61;
  color: white;
  background-color: black;
}
.wrapper .screen .social-btns .appstore {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 12px;
  background-color: white;
  font-size: 46;
  color: black;
}
.wrapper .screen .social-btns .appstore i {
  padding: 17px;
}
.wrapper .screen .social-btns .appstore:hover {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .appstore:not(hover) {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.wrapper .screen .social-btns .appstore:hover {
  font-size: 61;
  color: white;
  background-color: black;
}
.wrapper .footer {
  display: flex;
  /*--------------------*/
  /*--------------------*/
  /*--------------------*/
  min-height: 10vh;
  min-width: 100vw;
  /*--------------------*/
  /*--------------------*/
  /*--------------------*/
  background-color: #edf1f5;
  justify-content: center;
  align-items: center;
}
.wrapper .footer h5 {
  margin: 0;
  padding-right: 100px;
  padding-left: 100px;
}
@media (orientation: portrait) {
  .wrapper .footer h5 {
    padding-right: 20px;
    padding-left: 20px;
    padding: 5px;
  }
}

html {
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  html {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

.list {
  font-size: 20px;
  line-height: 1.55;
}
.list ul {
  padding: 20px;
}
.list ul li {
  list-style: disc;
  line-height: 1.55;
}
.list ul li li {
  padding: 0px;
  list-style: circle;
}

a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;
  transition: 0.3s;
}
a:hover {
  color: black;
  background-size: 100% 2px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0;
  margin-bottom: 1.5rem;
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  opacity: 0.5;
}

h1 {
  font-size: 32px;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  h1 {
    font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media screen and (min-width: 1200px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-size: 24px;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  h2 {
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 18px;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  h3 {
    font-size: calc(18px + (32 - 18) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media screen and (min-width: 1200px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 16px;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  h4 {
    font-size: calc(16px + (22 - 16) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media screen and (min-width: 1200px) {
  h4 {
    font-size: 22px;
  }
}

h5 {
  font-size: 14px;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  h5 {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media screen and (min-width: 1200px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 12px;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  h6 {
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media screen and (min-width: 1200px) {
  h6 {
    font-size: 14px;
  }
}

p {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.4;
}
p:not(:last-child) {
  margin-bottom: 1.5rem;
}

small {
  font-size: 0.8em;
}

.box {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
  padding: 0.5em 0.75em;
}
.box:not(:last-child) {
  margin-bottom: 1.5rem;
}
.box--lg {
  font-size: 1.5rem;
}
.box--static {
  font-size: 14px;
}
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .box--static {
    font-size: calc(14px + (14 - 14) * ((100vw - 320px) / (1200 - 320)));
  }
}
@media screen and (min-width: 1200px) {
  .box--static {
    font-size: 14px;
  }
}

.container {
  border: 2px solid #222;
  margin: 2rem;
  padding: 2rem;
}