/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;} 
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
/*--------------------*//*--------------------*//*--------------------*/
 
$black:#202731 !global;
$screenbackground: #edf1f5 !global;
$icon: rgb(44, 43, 43);
$iconhover:rgb(255, 255, 255) !global;
$iconback: rgb(255, 255, 255) !global;
$iconbackhover: rgb(0, 0, 0) !global;
/*--------------------*//*--------------------*//*--------------------*/
$borderradius: 12px;
$btnssize: 80px;
$iconsize:46px;
$iconsizehover:61px;
/*--------------------*//*--------------------*//*--------------------*/
html {
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}
body{
  @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

  font-family: 'Nanum Gothic', sans-serif;
  background-color: $screenbackground;
}
/*--------------------*//*--------------------*//*--------------------*/
@mixin rt($min-font, $max-font, $min-width: 320, $max-width: 1200) {
  font-size: #{$min-font}px;
  
  @media screen and (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
    font-size: calc(#{$min-font}px + (#{$max-font} - #{$min-font}) * ((100vw - #{$min-width}px) / (#{$max-width} - #{$min-width})));
  }

  @media screen and (min-width: #{$max-width}px) {
    font-size: #{$max-font}px;
  }
}

.wrapper{
  background-color: $screenbackground;
	display: flex;
  align-items: center;
	flex-direction: column;
	min-height: 70vh;

  .header{
    display: flex;
    justify-content: center;
    /*--------------------*//*--------------------*//*--------------------*/
    min-height: 30vh;
    min-width: 100vw;
    @media (orientation: portrait) {
      min-height: 10vh;
    }
    /*--------------------*//*--------------------*//*--------------------*/
  
    .logo{
      display: flex;
      align-items: center;
      flex-direction: column;
      svg{

        height: 30vh;
        width: 30vw;
        @media (orientation: portrait) {
          padding-top:5vh;
          width: 80vw;
          height: 20vh;
        }
      }
    }
  }
  .screen{
    display: flex;
    align-items: center;
  
    flex-direction: row;
    min-height: 60vh;
  
    @media (orientation: portrait) {
      align-content: flex-start;
      min-height: 70vh;
    }
  
    /*--------------------*//*--------------------*//*--------------------*/
    .social-btns {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin: auto;
      flex-wrap: wrap;
      @media (orientation: portrait) {
        width: 80%;
      }
      @mixin btn ($color:black, $justify-content:center){
        display: flex;
        align-items: center;
        justify-content: $justify-content;
  
        background-color: #fff;
  
        width: $btnssize;
        height: $btnssize;
  
        margin: 20px;
  
        border-radius: $borderradius;
        background-color:$iconback;
        
        font-size: $iconsize;
        color: $color;
        i{
          padding: 17px;
        }
  
        &:hover{
          transition: all 0.35s;
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
        }
        &:not(hover) {
          transition: all 0.35s;
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
        }
      }
      .contact{
        @include btn($color: $icon, $justify-content:left);
        p{
          font-size: 0;
          transition: all 0.35s;
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
        }
  
        &:hover{
          font-size: $iconsizehover;
          color: $iconhover;
          background-color:$iconbackhover;
          width: 310px;
          transition: all 0.35s;
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          p{
            font-size: 22px;
          }
          @media (orientation: portrait) {
            &:hover{
              @include btn($color: $icon, $justify-content:left);
              background-size: 100% 0px; 
              p{
                font-size: 0px;
              }
            }
          }
        }
      }
      .tictok{
        @include btn($color: rgb(0, 0, 0));
        &:hover{
          font-size: $iconsizehover;
          color: $iconhover;
          background-color: $iconbackhover;
        }
      }
      .unity{
        @include btn($color: $icon);
        &:hover{
          font-size: $iconsizehover;
          color: $iconhover;
          background-color: $iconbackhover;
        }
      }
      .linkedin{
        @include btn($color: rgb(0, 0, 0));
        &:hover{
          font-size: $iconsizehover;
          color: $iconhover;
          background-color: $iconbackhover;
        }
      }
      .googleplay{
        @include btn($color: rgb(0, 0, 0));
        &:hover{
          font-size: $iconsizehover;
          color: $iconhover;
          background-color: $iconbackhover;
        }
      }
      .appstore{
        @include btn($color: rgb(0, 0, 0));
        &:hover{
          font-size: $iconsizehover;
          color: $iconhover;
          background-color: $iconbackhover;
        }
      }
    }
  }
  /*--------------------*//*--------------------*//*--------------------*/
  .footer {
    display: flex;
    /*--------------------*//*--------------------*//*--------------------*/
    min-height: 10vh;
    min-width: 100vw;
    /*--------------------*//*--------------------*//*--------------------*/
    background-color: $screenbackground;
    justify-content: center;
    align-items: center;

    a{
      color: black;
      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 1px;
      transition: background-size .3s;
      transition: .3s;
    
      &:hover{
        color: black;
        background-size: 100% 2px; 
      }
    }
    h5{
      margin: 0;
      padding-right: 100px;
      padding-left: 100px;
      padding-bottom: 35px;
      @media (orientation: portrait) {
        padding: 5;
        padding-right: 25px;
        padding-left: 25px;
      }
    }
    h3{
      margin: 0;
      padding-right: 100px;
      padding-left: 100px;
      font-size: 18px;
      padding-bottom: 35px;
      @media (orientation: portrait) {
        padding: 5;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 35px;
      }
    }
  }
}
$min-width: 320;
$max-width: 1200;
html {
  @include rt(14, 18);
  line-height: 1.5;
}
.list{
  font-size: 20px;
  line-height: 1.55;
  ul{

    padding: 20px;
    li{
      list-style: disc;
      line-height: 1.55;
      li{
        padding: 0px;
        list-style: circle;
      }
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0;
  margin-bottom: 1.5rem;
  span {
    opacity: 0.5;
  }
}
h1 { @include rt(32, 64); }
h2 { @include rt(24, 48); }
h3 { @include rt(18, 32); }
h4 { @include rt(16, 22); }
h5 { @include rt(14, 18); }
h6 { @include rt(12, 14); }
p {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.4;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
small {
  font-size: 0.8em;
}
.box {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.2em;
  padding: 0.5em 0.75em;
  
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  &--lg { font-size: 1.5rem; }
  
  &--static { @include rt(14, 14); }
}
.container {
  border: 2px solid #222;
  margin: 2rem;
  padding: 2rem;
  a{
    color: rgb(112, 92, 0);
  }
  a{

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
    transition: .3s;
  
    &:hover{
      background-size: 100% 2px; 
    }
  }
}

body{
  .page404  {

    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  
    .wrapper{
      z-index: 2;
      background-color: rgba(240, 255, 255, 0);
      z-index: 100;
      display: flex;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
      #canvas{
        position:absolute;
        z-index: 1;
        background-color: #2C2B2B;
        width: 100vw;
        height: 100vh;		
      }
      .header{

        display: flex;
        justify-content: center;
        /*--------------------*//*--------------------*//*--------------------*/
        min-height: 30vh;
        min-width: 100vw;
        @media (orientation: portrait) {
          min-height: 10vh;
        }
        /*--------------------*//*--------------------*//*--------------------*/
      
        .logo{

          display: flex;
          align-items: center;
          flex-direction: column;
          
          svg{
            fill: #EDF1F5;
            z-index: 10;
            height: 30vh;
            width: 30vw;
            @media (orientation: portrait) {
              padding-top:5vh;
              width: 80vw;
              height: 20vh;
            }
          }
        }
      }
      .screen{
        
        z-index: 10;
        display: flex;
        align-items: center;
      
        flex-direction: column;
        min-height: 60vh;
      
        @media (orientation: portrait) {
          align-content: flex-start;
          min-height: 70vh;
        }
        p{
          padding-top: 10vh;
          padding-bottom: 0;
          margin-bottom: 0;
          font-size: 1100%;
          font-weight: 400;
          color: #EDF1F5;
        }
        h3{
          color:#EDF1F5;
        }
        a{
          color:#EDF1F5;
          text-decoration: none;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 1px;
          transition: background-size .3s;
          transition: .3s;
        
          &:hover{
            color: #EDF1F5;
            background-size: 100% 2px; 
          }
        }
      }
      .footer {
        display: flex;
        /*--------------------*//*--------------------*//*--------------------*/
        min-height: 10vh;
        min-width: 100vw;
        /*--------------------*//*--------------------*//*--------------------*/
        background-color: rgba(0, 0, 0, 0);
        justify-content: center;
        align-items: center;
    
        a{
          color:#EDF1F5;
          text-decoration: none;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 1px;
          transition: background-size .3s;
          transition: .3s;
        
          &:hover{
            color: #EDF1F5;
            background-size: 100% 2px; 
          }
        }
        h5{
          color: #EDF1F5;
          z-index: 10;
          margin: 0;
          padding-right: 100px;
          padding-left: 100px;
          padding-bottom: 35px;
          @media (orientation: portrait) {
            padding: 5;
            padding-right: 25px;
            padding-left: 25px;
          }
        }
        h3{
          color: #EDF1F5;
          z-index: 10;
          margin: 0;
          padding-right: 100px;
          padding-left: 100px;
          font-size: 18px;
          padding-bottom: 35px;
          @media (orientation: portrait) {
            padding: 5;
            padding-right: 25px;
            padding-left: 25px;
            padding-bottom: 35px;
          }
        }
      }
    }
  }
}

