@import "../../../styles/custom-properties.css";

.blue {
  position: relative;
  margin-top: 30px;
  color: white;
  background: steelblue;
  box-shadow: 0 8px #3b6d97;
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 12px 30px;
  color: white;
  width: 130px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  transition: all ease 0.3s;
  margin-bottom: 50px;
  @nest &:hover {
    background: #427aa9;
    color: white;
  }
  @nest &:after {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 1.6em;
  }
  @nest &:active {
    box-shadow: 0 4px #3b6d97;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
  }
}

.yellow {
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background: #fcca2f;
  font-size: 14px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  color: var(--color-black);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px #f4ba04;
  transition: all ease 0.3s;
  @nest &:hover {
    background: #fcc316;
    box-shadow: 0 8px #f4ba04;
  }
  @nest &:active {
    box-shadow: 0 4px #f4ba04;

    transform: translateY(4px);
  }
}
