@import '_assets/scss/abstractions/variables.scss';
@import '_assets/scss/base/reset.scss';

body {
  background-image: url("_assets/images/background.svg");
  height: 100vh;
  background-size: cover;
}