.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;

    .copyright {
        display: flex;
        align-items: center;

        .p {
            margin-left: 5px;
        }
    }
}