@mixin linkUnderline {

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    transition: 0.3s;
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-size: 100% 2px
    }
}